<!DOCTYPE html>{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Taller Práctico - {% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/justified-nav.css' %}" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="masthead">
            <h3 class="text-muted">
                <a href="">
                    <img src="{% static 'images/logo.jpg' %}" alt="César Cancino" width="100" height="100" />
                </a>
            </h3>
            <nav>
                <ul class="nav nav-justified">
                    <li class="active"><a href="#" title="Home">Home</a></li>
                    <li><a href="#" title="Nosotros">Nosotros</a></li>
                    <li><a href="#" title="Servicios">Servicios</a></li>
                    <li><a href="#" title="Contactos">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <!--contenido-->
        {% block content %}{% endblock %}
        <!--/contenido-->
        <!-- Site footer -->
        <footer class="footer">
            <p>&copy; Todos los derechos reservados | Desarrollado por <a href="https://www.cesarcancino.com" target="_blank">César Cancino</a></p>
        </footer>
    </div>
</body>

</html>